div {
  display: block;
  width: 600px;
  height: 600px;
}

@media screen and (min-resolution: 1dppx) {
  div {
    background-image: url('../img/cat.jpg');
  }
}

@media screen and (min-resolution: 2dppx) {
  div {
    background-image: url('../img/dog.jpg');
  }
}

@media screen and (min-resolution: 3dppx) {
  div {
    background-image: url('../img/humster.jpg');
  }
}

/*
540px	720px	960px	1140px
*/

/*@media screen and (min-width: 540px) and (max-width: 719px) {
  div {
    background-color: green;
    width: 300px;
  }
}

@media screen and (min-width: 720px) {
  div {
    background-color: blue;
  }
}

@media screen and (orientation: portrait) {
  div {
    width: 100px;
    height: 250px;
  }
}

@media screen and (orientation: landscape) {
  div {
    width: 250px;
    height: 100px;
  }
}

@media screen and (min-resolution: 2dppx) {
  div {
    background-color: orange;
  }
}*/

/*@media screen and (max-width: 1140px) {
  div {
    background-color: green;
    width: 300px;
  }
}

@media screen and (max-width: 960px) and (min-width: 1139px) {
  div {
    background-color: blue;
  }
}*/
